@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

:root {
  --primary-bg: #0b1c53;
  --primary-color: #fff;
  --accent-red: #d32f2f;
  --accent-dark-red: #A30000;
  --border-color: #ddd;
  --font-main: 'Jost', sans-serif;
  --font-size-base: 14px;
  --font-size-small: 13px;
  --font-size-xsmall: 12px;
  --font-size-badge: 10px;
  --badge-bg: red;
  --badge-color: white;
  --logo-height: 50px;
  --gov-icon-height: 40px;
  --notify-size: 22px;
  --icon-size: 14px;
  --container-max-width: 1200px;
  --container-padding: 0 15px;
  --gap-main: 20px;
  --gap-small: 15px;
  --radius-btn: 4px;
  --radius-track: 2px;
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --contact-time-color: #666;
}

/* Reset and base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h2.sub-heading {
  font-size: 38px;
  font-weight: 600;
  display: flex;
  justify-content: center;

}

.line-container {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}



.orange-bars {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  position: relative;
}

p.text-center.col-8.mx-auto {
  font-size: 20px;
  color: #646161;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #ff5722;
  /* Orange */
  margin-top: 10px;
}

.bar.center {
  width: 60px;
}



.text-below {
  margin-top: 30px;
  font-size: 16px;
  color: #333;
}

section {
  padding: 60px 0;
}

.navbar i.fa.fa-chevron-down {
  font-size: 12px;
}

.navbar {
  background-color: white;
  padding: 20px 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.hero-slider .slick-prev:before,
.hero-slider .slick-next:before {
  display: none;
}

.nav-menu li {
  position: relative;
}

.ondemand-food-app.ondemand-company.healthcare .custom-app-dev-container .heading.food-title.ecommerce-heading {
  width: 100%;
}

.ondemand-food-app.ondemand-company .slide-image:before {
  position: absolute;
  content: "";
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 21.21%, rgba(0, 0, 0, 0) 47.51%), rgba(255, 255, 255, 0); */
  box-shadow: 0px 27.4402px 54.8805px rgba(179, 179, 179, 0.1);
  -moz-transition: all 1.2s ease 0s;
  transition: all 1.2s ease 0s;
  -webkit-transition: all 1.2s ease 0s;
  -o-transition: all 1.2s ease 0s;
  -ms-transition: all 1.2s ease 0s;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(190, 148, 0, 0) 58.63%, #21272A 90.81%);
}

.ondemand-food-app.ondemand-company .slide-image-content h4 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 0px;
  border-bottom: none;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}

.ondemand-company.rental-marketplace .slide-image-content,
.ondemand-company.logistic-marketplace .slide-image-content {
  bottom: -80px;
}

.ondemand-food-app.ondemand-company .slide-image-content {
  bottom: -79px;
}

.ondemand-food-app.ondemand-company .slide-image:hover .slide-image-content,
.odc-page.ondemand-company .slide-image:hover .slide-image-content {
  bottom: 140px;
}

.ondemand-food-app.ondemand-company .slide-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.ondemand-food-app.ondemand-company .slide-image:hover:before {
  background: linear-gradient(180deg, #21272A 16.48%, #4B4B4B 100%);
  border-radius: 10px;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
}

.ondemand-food-app.ondemand-company .slide-image:before {
  position: absolute;
  content: "";
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 21.21%, rgba(0, 0, 0, 0) 47.51%), rgba(255, 255, 255, 0); */
  box-shadow: 0px 27.4402px 54.8805px rgba(179, 179, 179, 0.1);
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0.4s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(190, 148, 0, 0) 58.63%, #21272A 90.81%);
}

.ondemand-food-app .services .wrapper .card {
  padding: 31px;
  box-shadow: 0px 9.75px 9.75px -4.88px #9B7A0308;
  box-shadow: 0px 24.38px 29.25px -4.88px #9B7A0314;
  border: none;
  border-radius: 20px;
}

.ondemand-food-app .services .wrapper h5.card-title {
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  border-bottom: 2px solid #FBC402;
  margin-right: 42px;
  padding-bottom: 16px;
}

.ondemand-food-app p.card-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #21272A;
}

.food-delivery-card {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 24px;
  border: 1px solid #E5E7EB;
  position: relative;
  overflow: hidden;
  min-height: 478px;
}


.food-delivery-card .card-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ondemand-food-app .slick-track {
  opacity: 1;
  width: 5292px;
  transform: none;
}

.ondemand-food-app .slick-track {
  opacity: 1;
  width: 7056px;
  /* transform: translate3d(-1769px, 0px, 0px) !important; */
}

.ondemand-food-app .wrapper {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.ondemand-food-app .carousel {
  width: 90%;
  margin: 0px auto;

  border-radius: 20px;
  padding: 0px 0px 32px 32px;
}

.ondemand-food-app .slick-slide {
  margin: 10px;
}



.ondemand-food-app .wrapper .slick-dots li button:before {
  display: none;
}


.ondemand-food-app.ondemand-company section.sets-apart.it-staff.industry-tailored .food-blue-block {
  padding: 67px 60px;
  background: linear-gradient(180deg, #2B62A3 19.03%, #4699F1 100%);
  background: linear-gradient(180deg, #21272A 19.03%, #2D2D2D 100%);
}

.ondemand-food-app.ondemand-company .industry-tailored p {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 40px;
}

.ondemand-food-app.odc-page section.sets-apart.hirepage.food-business-model.custom-app-dev.ecom-service .row div[class*="col-"] .approach-view.food-boxview.dev-viewbox {
  min-height: auto;
  background: #ffffff;
  box-shadow: 0px 9.75px 9.75px -4.88px #9B7A0308;
  box-shadow: 0px 24.38px 29.25px -4.88px #9B7A0314;
  border: 1px solid #FBC4021A;
  padding: 24px;
}

.ondemand-food-app.odc-page.maas-page .sets-apart .approach-view {
  margin: 0;
  padding: 40px 21px 12px;
  overflow: hidden;
  border-radius: 20px;
  text-align: center;
}

.ondemand-food-app.ondemand-company section.sets-apart.hirepage.food-business-model.custom-app-dev .row div[class*="col-"] .approach-view.food-boxview.dev-viewbox h4 {
  font-weight: 700;
  color: #013972;
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #21272A;
}

.ondemand-food-app.odc-page.maas-page .sets-apart .approach-view p {

  margin-bottom: 0;
}

.healthcare.ondemand-company.ondemand-food-app .looking-blue-block {
  padding: 0px;
  background: linear-gradient(180deg, #2B62A3 19.03%, #4699F1 100%);
  border-radius: 20px;
  background: linear-gradient(180deg, #21272A 19.03%, #414141 100%);
}

.ondemand-food-app.ondemand-company.healthcare .food-blue-block .row div h3:before {
  content: "";
  color: red;
  height: 7px;
  width: 176px;
  position: absolute;
  top: 0px;
  background-color: #FBC402;
}

.ondemand-food-app.ondemand-company .food-delivery-faq .container {
  padding: 51px 75px;
  border-radius: 20px;
  background: #FFFAE6;
}

/* Position Slick arrows in the vertical center */
.ondemand-food-app.ondemand-company .slick-prev,
.ondemand-food-app.ondemand-company .slick-next {
  z-index: 1000;
  bottom: 0;
  transform: translateY(358%);
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  left: 50%;
}

.ondemand-food-app.ondemand-company .slick-prev {
  left: 46%;
  bottom: 0;
}

.ondemand-food-app.ondemand-company .slick-next {
  right: -20px;
}

/* Optional: Customize arrow icons */
.ondemand-food-app.ondemand-company .slick-prev:before,
.ondemand-food-app.ondemand-company .slick-next:before {
  font-size: 20px;
  color: #FB4900;
  opacity: 1;
}

.nav-menu a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.nav-menu a:hover {
  color: #ff6600;
}

.slick-dots li button {
  display: none !important;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--container-padding);
}

/* Top Bar */
.sub-header {
  background: var(--primary-bg);
}

.utility-bar {

  color: var(--primary-color);
  font-size: var(--font-size-small);
  padding: 0px 0;
}

.utility-content {
  display: flex;
  justify-content: right;
  align-items: center;
}

.left-icons {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.left-icons img {
  width: var(--icon-size);
  height: var(--icon-size);
  cursor: pointer;
}


.left-icons a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: var(--font-weight-medium);
}

.right-btn {
  background-color: #A30000;
  padding: 6px 12px;
  gap: var(--gap-small);
}

.track-btn {

  color: var(--primary-color);

  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xsmall);
  border-radius: var(--radius-track);
  text-decoration: none;
}

.utility-bar .left-icon span {
  display: flex;
  align-items: center;
}

/* Main Header */
.main-header {
  background: #fff;
  border-bottom: 1px solid var(--border-color);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  flex-wrap: wrap;
}

.logo img {
  height: var(--logo-height);
}

.nav-menu {
  display: flex;
  gap: var(--gap-main);
  align-items: center;
}

.nav-menu a {
  color: #000;
  text-decoration: none;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  position: relative;
}

.nav-menu .arrow {
  font-size: 12px;
  margin-left: 3px;
}

/* Right Actions */
.right-actions {
  display: flex;
  align-items: center;
  gap: var(--gap-main);
}

.notify {
  position: relative;
}

.notify img {
  width: var(--notify-size);
  height: var(--notify-size);
}

.badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background: var(--badge-bg);
  color: var(--badge-color);
  font-size: var(--font-size-badge);
  font-weight: var(--font-weight-bold);
  border-radius: 10px;
  padding: 2px 6px;
}

.login-btn {
  background-color: var(--accent-dark-red);
  color: var(--primary-color);
  padding: 8px 14px;
  border-radius: var(--radius-btn);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-small);
  line-height: 1.3;
}

.contact-info .number {
  font-weight: var(--font-weight-bold);
}

.contact-info .time {
  font-size: 11px;
  color: var(--contact-time-color);
}

.gov-icon img {
  height: var(--gov-icon-height);
}

/* mobile-header */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  background: var(--primary-bg);
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.logo a span {
  color: #8739fa;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #fff;
}

.menu:hover a {
  opacity: 0.4;
}

.menu a:hover {
  opacity: 1;
  color: #fff;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked~.menu {
  transform: scale(1, 1);
}

.slider-for img,
.slider-nav img {
  width: 100%;
  border-radius: 10px;
}

.slider-nav {
  margin-top: 20px;
}

.slider-nav .slick-slide {
  margin: 0 5px;
  cursor: pointer;
}

.slick-slide img {
  display: block;
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.scroll-toolbar {
  display: flex;
  align-items: center;
  background-color: #4a5f0c;
  padding: 10px 20px;
  border-radius: 50px;
  width: fit-content;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  position: relative;
  top: -13px;
}

.scroll-label {
  color: white;
  font-weight: bold;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 14px;
}

.utility-bar {
  display: flex;
  align-items: center;
  justify-content: right;
}

.scroll-items {
  display: flex;
  align-items: center;
  gap: 10px;
}


.scroll-icon:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1e1e1e;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 1;
  pointer-events: none;
}

.scroll-icon.active {
  background-color: #ff4c00;
  border-radius: 8px;
}

.small-nav {
  display: flex;
  justify-content: center;
}

:root {
  --orange: #f0541e;
  --dark: #111;
  --white: #fff;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
}

.orange-text {
  color: var(--orange);
}

.event-card {
  border: none;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.event-card .card-img {
  object-fit: cover;
  height: 300px;
}

.event-card .card-img-overlay {
  background: rgba(0, 0, 0, 0.4);
  color: var(--white);
  padding: 20px;
}

.event-card .event-date {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 0.3rem;
}

.event-card .card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 19px 0px 12px;
}

a.btn.btn-sm.read-more {
  background-color: #ff4c00;
  width: auto;
  padding: 8px 2px;
  width: 35%;
  color: #ffff;
  margin: 12px 0px;
}

.card.event-card {
  border-radius: 8px;
}

a.btn.btn-view {
  background-color: #ff4c00;
}

.event-card .card-text {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.gallery-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--black);
}

.btn-orange {
  background-color: var(--primary);
  color: var(--white);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.btn-orange:hover {
  background-color: #d53f0d;
  color: var(--white);
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: 0.4s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
  filter: brightness(70%);
}

.gallery-hover-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary);
  color: var(--white);
  padding: 12px;
  border-radius: 50%;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-item:hover .gallery-hover-icon {
  opacity: 1;
}

footer {
  font-family: 'Poppins', sans-serif;
  background-color: #ff4d00;
  color: white;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
}

.footer-contact {
  background-color: #00214d;
  color: white;
  padding: 20px;
  flex: 1 1 250px;
  border-radius: 6px;
}

.footer-contact .icon {
  width: 18px;
  vertical-align: middle;
  margin-right: 8px;
}

.newsletter form {
  display: flex;
  margin-top: 15px;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletter button {
  padding: 10px 15px;
  background-color: #ff4d00;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  font-weight: bold;
  cursor: pointer;
}

.footer-links,
.footer-connected,
.footer-grievance {
  flex: 1 1 200px;
  margin: 20px 0px 0px 31px;
}

.footer-links h3,
.footer-connected h3,
.footer-grievance h3 {
  color: white;
  margin-bottom: 15px;
}

.footer-links ul,
.footer-connected ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li,
.footer-connected li {
  margin-bottom: 10px;
}

.footer-grievance form {
  display: flex;
  margin-top: 15px;
}

.footer-grievance input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}

.footer-grievance button {
  padding: 10px 20px;
  background-color: #3c5b00;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 0 4px 4px 0;
}

.footer-grievance .chakra {
  margin-top: 20px;
}

footer {
  margin-top: 150px;
}

.footer-contact {
  position: relative;
  top: -86px;
}

.footer-bottom {
  background-color: #00214d;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

/* Fixed vertical social media bar */
.social-bar {
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

.social-bar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.social-bar .facebook {
  background: #3b5998;
}

.social-bar .twitter {
  background: #00aced;
}

.social-bar .instagram {
  background: #dd2a7b;
}

.social-bar .linkedin {
  background: #007bb6;
}

.social-bar .youtube {
  background: #ff0000;
}

.social-bar a:hover {
  opacity: 0.8;
}

/* Accessibility Floating Button */
.accessibility-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #198754;
  /* Bootstrap green */
  border: none;
  border-radius: 50%;
  padding: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 9999;
  transition: transform 0.2s;
}

.accessibility-btn:hover {
  transform: scale(1.1);
}

.accessibility-btn img {
  width: 28px;
  height: 28px;
}

.scheme-card.bg-blue {
  background-color: #00214d;
  /* Dark navy */

}

.scheme-card.bg-orange {
  background-color: rgb(146, 73, 46);
  /* Dark navy */

}

.scheme-card.bg-green {
  background-color: #078E31;
  /* Dark navy */

}

.scheme-card.bg-yellow {
  background-color: #F6790B;
  /* Dark navy */

}

.scheme-card {
  color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.icon-container {
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container img {
  width: 40px;
  height: 40px;
}

.scheme-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
}

.scheme-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #cfd8dc;
  margin-bottom: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.explore-btn {
  background-color: #ffffff;
  color: #00214d;
  border: none;
  padding: 6px 0px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  width: 47%;
}

.explore-btn:hover {
  background-color: #e0e0e0;
}

.cloud-shape {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  opacity: 0.2;
}

.btn-orange {
  background-color: #ff5722;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 16px;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
}

.btn-orange:hover {
  background-color: #e64a19;
}

.slide-image {
  position: relative;
  overflow: hidden;
}

.slide-image-content {
  position: absolute;
  bottom: -128px;
  padding: 15px;
  height: 190px;
  max-height: 100%;
  top: auto;
  left: 0;
  right: 0;
  z-index: 2;
  -moz-transition: all 1.2s ease 0s;
  transition: all 1.2s ease 0s;
  -webkit-transition: all 1.2s ease 0s;
  -o-transition: all 1.2s ease 0s;
  -ms-transition: all 1.2s ease 0s;
}

.slide-image:before {
  position: absolute;
  content: "";
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(0deg, rgba(37, 0, 205, 0.4) 21.21%, rgba(49, 66, 198, 0) 47.51%), rgba(255, 255, 255, 0);
  box-shadow: 0px 27.4402px 54.8805px rgba(179, 179, 179, 0.1);
  -moz-transition: all 1.2s ease 0s;
  transition: all 1.2s ease 0s;
  -webkit-transition: all 1.2s ease 0s;
  -o-transition: all 1.2s ease 0s;
  -ms-transition: all 1.2s ease 0s;
}

.slide-image:hover img {}

.slide-image:hover .slide-image-content {
  bottom: 30px;
}

.rotate-img {
  width: 128px;
  /* or any size you want */
  height: 128px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.scroll-icon {
  color: white;
  background-color: transparent;
  padding: 12px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Responsive */

@media only screen and (max-width: 950px) {
  .menu {
    flex-direction: column;
    background: var(--primary-bg);
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .scroll-icon {
    color: white;
    background-color: transparent;
    padding: 0px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .event-carousel .col {
    flex: 1 0 100%;
    margin: 23px 0;
  }

  footer {
    margin-top: 60px;
  }
}